<section class="box">
	<a class="image image-full"><img src="images/mario.jpg" alt="" /></a>
	<header>
		<h3>Testez notre jeu mario</h3>
	</header>
	<p>appuyer pour jouer</p>
	<footer>
		<a href="Game2" class="button button-alt">Try Mario</a>
	</footer>
</section>
