<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="4u">
								
									<!-- Sidebar -->
									<%- partial("_shared/sidebar") %>

								</div>
								<div class="8u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="http://www.lipton.ch/"><img src="images/ice_tea.jpg" style='width:700px;' alt="" /></a>
											<header>
												<h2>Ice Tea</h2>
												<span class="byline">Le thé froid</span>
											</header>
											<p>
												L'Ice tea est apparu pour la première fois aux États-Unis en 1972, et il aura fallu attendre 20 ans pour le voir apparaître en France, en 1993. En 2000, l'Ice tea était le troisième soda le plus vendu en France.
												Il existe une multitude de saveurs telles que : pêche, citron, mangue, tropical, pomme, grenadine, framboise, ect ...
											</p>
											<section>
												<header>
													<h3>Lipton ice tea</h3>
												</header>
												<p>
													Lipton est une marque alimentaire internationale spécialisée dans les soupes, le thé et les boissons à base de thé crée dans les années 1870.
													Dans les années 1970, lipton se lança dans la fabrication d'ice tea. 20ans plus tard, l'ice tea lipton devient le 3ème soda le plus vendu au monde.
													
												
												</p>
												<p>
												Lipton appartient actuellement à Unilever, une multinationale anglo-néerlandaise . Unilever est le 4ème acteur mondiale sur le marché de l'agroalimentaire.
												Cette multinationale est également le premier producteur de glaces et de thé au monde.
												</p>
											</section>
											<section>
												<header>
													<h3>Ice tea citron</h3>
												</header>
												<p>
													L'ice tea citron est actuellement le parfums le plus populaire de la marque. Il est considéré comme tel grâce à ses propriétés dites médicinale.
													Il est également apprécié de par son goût à la fois sucré et également "acide".
												</p>
											</section>
										</article>

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
