<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="4u">
								
									<!-- Sidebar -->
									<%- partial("_shared/sidebar") %>

								</div>
								<div class="8u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="http://facebook.com/DreametryDoodle" class="image image-full"><img src="images/pic01.jpg" alt="" /></a>
											<header>
												<h2>Ice Tea</h2>
												<span class="byline">L'ice tea citron, le meilleur</span>
											</header>
											<p>
												L'ice tea citron est considéré comme meilleur que toutes les autres sortes d'ice tea dûes à ses propriétés thérapeutiques.
											</p>
											<p>
												Viens ensuite le reste des ice teas qui restent bons : pêche, mangue-ananas, fruits de la passion
											</p>
											<section>
												<header>
													<h3>Créateur d'ice tea</h3>
												</header>
												<p>
													Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis. 
													placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, 
													eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean 
													elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
													sit amet nullam consequat feugiat dolore tempus.
												</p>
												<p>
													Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, 
													eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean 
													elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
													sit amet nullam consequat feugiat dolore tempus.
												</p>
											</section>
											<section>
												<header>
													<h3>En conclusion.</h3>
												</header>
												<p>
													Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, 
													eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean 
													elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
													sit amet nullam consequat feugiat dolore tempus. Elementum odio duis semper risus et lectus commodo fringilla. 
													Maecenas sagittis convallis justo vel mattis. 
												</p>
											</section>
										</article>

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
