<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="12u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="http://la-ferme-pepito.e-monsite.com/pages/chevres-miniatures-a-vendre.html" class="image image-full"><img src="images/chevre1.jpg" alt="" /></a>
											<header>
												<h2>Les chevres</h2>
												<span class="byline">Un animal de grande noblesse</span>
											</header>

											<section>
												<header>
													<h3>Qu'est ce que c'est?</h3>
												</header>
												<li>C'est un mammifere, il peu etre un animal de travaille ou de compagnie. Le bouc est le male et la chevre la femelle.</li>
												<li>Il y a 13 especes de chevre.</li>
												<li>Il  vit en moyen 14 ans.</li>
												<li>Il peut peser entre 15 a 80 kg.</li>
												
											</section>

											<section>
												<header>
													<h3>Habitat</h3>
												</header>
												<p>Les chevre habitent au Etats-Unis, Italie, France, Suisse et dans presque dans tout le monde.</p>
											</section>

											<section>
												<header>
													<h3>A quoi ca sert?</h3>
												</header>
												<li>On reproduit les chevre pour le Laits pour le fromage .</li>
												<li>Aussi pour sa viande</li>
												<li>Pour son cuir</li>
												<li>Pour ses poil</li>
												
											</section>

											<section>
												<header>
													<h3>Reproduction</h3>
												</header>
												<p>La chevre peut se reproduire des l'ages de 7 mois. En general, les chaleur ont lieu fin automne. La gestation dure 5 mois. La chevre met bas un ou deux chevreau. On procede au sevrage des petits a environ 2 mois (entre 14kg et 16kg).</p>
												
											</section>

											<section>
												<header>
													<h3>Alimentation</h3>
												</header>
												<li>La chevre possede 4 estomac. Dans un premier temps, elle avale grossierement ses aliments puis les regurgite lorsqu'elle est calme pour les macher, c'est ce que l'on appelle la rumination.</li>
												<li>Elle se nourrit de toutes sortes de vegetaux sauvages ou cultives.</li>
												<li>10 kg de plantes ou d'un foin compose de legumineuses(vesce, loitier, luzerne, etc...)et de graminees(dactyle, ray-grass, etc...).</li>
												<li>Dix litre d'eau .</li>
												<li>Du sel ou une pierre a selle a volonte</li>
												
											</section>
										</article>

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
