<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="12u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="http://la-ferme-pepito.e-monsite.com/pages/chevres-miniatures-a-vendre.html" class="image image-full"><img src="images/chevre1.jpg" alt="" /></a>
											<header>
												<h2 class="c">Les chevres</h2>
												<span class="c">Un animal de grande noblesse</span>
											</header>

											<section>
												<header>
													<h3 class="a">Qu'est ce que c'est?</h3>
												</header>
												<li class="b">C'est un mammifere, il peu etre un animal de travaille ou de compagnie. Le bouc est le male et la chevre la femelle.</li>
												<li class="b">Il y a 13 especes de chevre.</li>
												<li class="b">Il  vit en moyen 14 ans.</li>
												<li class="b">Il peut peser entre 15 a 80 kg.</li>
												
											</section>

											<section>
												<header>
													<h3 class="a">Habitat</h3>
												</header>
												<p class="b">Les chevre habitent au Etats-Unis, Italie, France, Suisse et dans presque dans tout le monde.</p>
											</section>

											<section>
												<header>
													<h3 class="a">A quoi ca sert?</h3>
												</header>
												<li class="b">On reproduit les chevre pour le Laits pour le fromage .</li>
												<li class="b">Aussi pour sa viande</li>
												<li class="b">Pour son cuir</li>
												<li class="b">Pour ses poil</li>
												
											</section>

											<section>
												<header>
													<h3 class="a">Reproduction</h3>
												</header>
												<p class="b">La chevre peut se reproduire des l'ages de 7 mois. En general, les chaleur ont lieu fin automne. La gestation dure 5 mois. La chevre met bas un ou deux chevreau. On procede au sevrage des petits a environ 2 mois (entre 14kg et 16kg).</p>
												
											</section>

											<section>
												<header>
													<h3 class="a">Alimentation</h3>
												</header>
												<li class="b">La chevre possede 4 estomac. Dans un premier temps, elle avale grossierement ses aliments puis les regurgite lorsqu'elle est calme pour les macher, c'est ce que l'on appelle la rumination.</li>
												<li class="b">Elle se nourrit de toutes sortes de vegetaux sauvages ou cultives.</li>
												<li class="b">10 kg de plantes ou d'un foin compose de legumineuses(vesce, loitier, luzerne, etc...)et de graminees(dactyle, ray-grass, etc...).</li>
												<li class="b">Dix litre d'eau .</li>
												<li class="b">Du sel ou une pierre a selle a volonte</li>
												
											</section>
											<html>
<body>
<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {

    var x = document.getElementsByClassName("a");

    var i;
    for (i = 0; i < x.length; i++) {
x[i].style.color = "blue"; }   

    var y = document.getElementsByClassName("b");
    for (i = 0; i < y.length; i++) {
y[i].style.color = "red"; }

    var z = document.getElementsByClassName("c");
    for (i = 0; i < z.length; i++) {
z[i].style.color = "orange"; }

}
</script>

										</article>

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
