<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="8u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="https://secure.static.tumblr.com/84441469f216abfeb154b48feabcf97c/cncaovr/iDJndbmb8/tumblr_static_tumblr_static_90d1k39cex44gco4cwkks0so4_640.gif" class="image image-full"><img src="images/subaru1" alt="" /></a>
										
										<header>
												<h2>SUBARU SAMA</h2>
												<span class="byline">Notre Grand Dieu</span>
											</header>

<p>	

Konoe Subaru est un des personnages pricipales de l'anime Mayochiki!. Cet anime est inspiré du light-novel (une forme de roman japonais pour les jeunes) Mayochiki!.<br>

Subaru est un majordome d'une riche Suzutsuki Kanade. La tradition fait que la lignée de Konoe sert en tant que majordome à la famille Suzutsuki et seul les hommes peuvent servir comme majordome. Mais, la mère  de Subaru étant fragile et souvent malade est morte juste après avoir donnée naissance à Subaru. Donc Subaru étant une fille ne pouvait pas devenir majordome, mais elle voulait quand même. Donc, la famille Suzutsuki lui donna une condition pour servir en tant que majordome, elle doit se faire passer pour un homme au collège. 
											</p>
											<p>
											
Mais le personnage principale découvrit qu'en réalité, Subaru est une fille. Mais les deux arrivent à s'accorder pour ne pas réveler le secret de Subaru car il possède lui aussi un secret, il ne peut pas toucher de filles sans saigner du nez.<br>
C'est ainsi que l'histoire merveilleuse commence !!!!!!!!!!!! <br><br>
											</p>
											<section>
												<header>
		<a href="http://www.mediafactory.co.jp/bunkoj/mayochiki/" class="image image-full"><img src="images/subaru3.jpg" alt="" /></a>			
		
		<h3>Something else</h3>		
												</header>
												<p>
	Konoe Subaru a plusieurs talents. Elle est belle, intelligente. Elle pense aux autres et elle a une grande gentillesse. Par exemple quand le personnage principal est malade, elle s'inquiete beaucoup et fait tout pour le soigner.
	<br>
	Elle a aussi une différence entre son comportement scolaire et privé, puisqu'à l'école, elle doit se comporter en tant qu'homme, elle se force pour paraître virigle ou masculin. C'est pourquoi quand elle montre son vrai caractère, elle paraît encore plus belle ou mignionne.<br><br>
	</p>
												<p>
	Malgré toute ses qualité elle a aussi des faiblesses. Elle a par exemple une phobie de couteau, depuis qu'elle s'est fait menacer quand elle était petite par un voleur avec un couteau.
	<br>
	Mais, elle guérira cette phobie. Le personnage principal est se bat contre un kidnappeur qui porte un couteau. Subaru décide à l'aider et fait face à ce kidnappeur qui le menace avec un couteau et elle parvient à le combattre. C'est ainsi qu'elle guérie sa phobie.
	<br>
	Elle à un autre faiblesse qui est son indécision. Elle a peur qu'elle casse les relations qu'elle a avec son maîtred (Suzutsuki) et le personage principal et donc elle cache ses sentiments afin de maintenir ces relations. Elle évite toute problème ou décision qui pourrait casser cette indécision. 
	<br>
	Mais à la fin de l'histoire elle finis par prendre courage et elle prends les décision 
	</p>
											</section>
											<section>
												<header>
		<a href="http://king-cr.jp/special/mayochiki/" class="image image-full"><img src="images/subaru4.jpg" alt="" /></a>
		
		<h3>So in conclusion ...</h3>
												</header>
												<p>
												En conclusion nous pouvons dire qu'elle est un dieu. 
																<br>
														<br>
														<br>
														<br>
														
															
															<!DOCTYPE html>
			<html>
			<body>

			<audio id="music1" controls autoplay loop >
			  <source src="images/1.mp3" type="audio/mp3">
			Your browser does not support the audio element.
			</audio>

			<script>
			window.onload = function() {
			    var backgroundAudio=document.getElementById("music1");
			    backgroundAudio.volume=0.2;
			}
			 
			</script> 

			</body> 
			</html>
												</p>
											</section>
										</article>

								</div>
								<div class="4u">
								
									<!-- Sidebar -->
									<%- partial("_shared/sidebar") %>
										

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
