<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				
				<!-- Portfolio -->
					<section>
						<div>
							<div class="row">
								<div class="8u skel-cell-mainContent">
									
									<!-- Content -->
										<article class="box is-post">
											<a href="https://secure.static.tumblr.com/84441469f216abfeb154b48feabcf97c/cncaovr/iDJndbmb8/tumblr_static_tumblr_static_90d1k39cex44gco4cwkks0so4_640.gif" class="image image-full"><img src="images/subaru1" alt="" /></a>
										
										<header>
												<h2>SUBARU SAMA</h2>
												<span class="byline">Notre Grand Dieu</span>
											</header>

<p>											
Konoe Subaru est le personnage pricipal de l'anime Mayochiki!. Cet anime est inspiré du light-novel (une forme de roman japonais pour les jeunes) Mayochiki!.
Subaru est un majordome d'une riche Suzutsuki Kanade. Mais la tradition qui fait que la lignée de Konoe sert en tant que majordome au famille de Suzutsuki. Mais la mère de Subaru mort just après que Subaru naît. Elle était vulnèrable au malade.      
											</p>
											<p>
Praesent a dolor leo. Duis in felis in tortor lobortis volutpat et pretium tellus. Vestibulum ac ante nisl, a elementum odio. Duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis. placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet nullam consequat feugiat dolore tempus.
											</p>
											<section>
												<header>
		<a href="http://www.mediafactory.co.jp/bunkoj/mayochiki/" class="image image-full"><img src="images/subaru3.jpg" alt="" /></a>			<h3>Something else</h3>		
												</header>
												<p>
													Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis. placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet nullam consequat feugiat dolore tempus.
												</p>
												<p>
													Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc, eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet nullam consequat feugiat dolore tempus.
												</p>
											</section>
											<section>
												<header>
		<a href="http://king-cr.jp/special/mayochiki/" class="image image-full"><img src="images/subaru4.jpg" alt="" /></a>
		<h3>So in conclusion ...</h3>
												</header>
												<p>
													Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,  eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean consectetur adipiscing elit. Lorem ipsum dolor sit amet nullam consequat feugiat dolore tempus. Elementum odio duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis. 
												</p>
											</section>
										</article>

								</div>
								<div class="4u">
								
									<!-- Sidebar -->
									<%- partial("_shared/sidebar") %>
										

								</div>
							</div>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>
